//
// Template for Custom Theme for qx.Mobile Applications
//

// Page

@navigationpage-background-color: #F4F4F4;
@navigationpage-border-color: #DDDDDD;

// NavigationBar

@navigationbar-background-color:  #323335;
@navigationbar-text-color:  white;
@navigationbar-height:  45px;

// NavigationBar Button

@navigationbarbutton-border-radius: 4px;
@navigationbarbutton-background-color:  #F4F4F4;
@navigationbarbutton-border-color:  #888888;
@navigationbarbutton-text-color:  #333333;

@navigationbarbutton-active-background-color:  #3D72C9;
@navigationbarbutton-active-text-color:  white;
@navigationbarbutton-active-border-color:  white;
 
// Dialog

@dialog-border-color: #3D72C9; 
@dialog-background-color: #323335;
@dialog-border-radius: 4px;
@dialog-title-text-color: white;

// Group

@group-background-color:  white;
@group-border-color:  #DDDDDD;
@group-title-text-color:  #3D72C9;
@group-border-radius: 4px;

// List

@list-background-color: white;
@list-title-text-color: #333333;
@list-subtitle-text-color:  #3D72C9;
@list-border-color: #DDDDDD;
@list-active-background-color:  #3D72C9;
@list-active-text-color:  white;
@list-border-radius:  4px;

// Form

@form-background-color:  white;
@form-title-text-color:  #3D72C9;
@form-border-color:  #DDDDDD;
@form-border-radius:  4px;

// Input

@input-text-color:  #333333;
@input-border-radius: 4px;
@input-border-color: #DDDDDD;

// Checkbox

@checkbox-tick-color: #3D72C9;
@checkbox-border-radius:  0.1em;
@checkbox-border-color:  #888888;
@checkbox-background-inner-color: #45484d; 
@checkbox-background-color: #F4F4F4; 

// Radiobutton

@radiobutton-dot-color: #3D72C9;
@radiobutton-background-color: #F4F4F4;
@radiobutton-border-color: #888888;
@radiobutton-background-inner-color: #45484d;

// Tabbar

@tabbar-active-background-color:  #3D72C9;
@tabbar-inactive-background-color:  grey;
@tabbar-active-text-color:  white;
@tabbar-inactive-text-color:  white;
@tabbar-border-radius:  4px;

// ToggleButton

@togglebutton-active-background-color:  #3D72C9;
@togglebutton-active-text-color:  white;
@togglebutton-border-radius:  30px;

// Carousel

@carousel-pagination-background-color: white;
@carousel-pagination-active-background-color: #3D72C9;
@carousel-pagination-border-radius: 15px;

// Button

@button-text-color:  #333333;
@button-active-text-color:  white;
@button-border-radius:  4px;
@button-border-color:  #888888;
@button-active-border-color:  #888888;
@button-background-color: #F4F4F4;
@button-active-background-color:  #3D72C9;

// SelectBox

@selectbox-border-radius: 4px;
@selectbox-border-color:  #DDDDDD; 
@selectbox-text-color:  #333333;
@selectbox-background-color:  #F4F4F4;
@selectbox-active-background-color:  #3D72C9;
@selectbox-active-text-color:  white;
@selectbox-item-selected-text-color:  white;
@selectbox-item-selected-background-color:  #3D72C9;

// Slider

@slider-active-area-color:  #3D72C9;
@slider-border-radius:  20px;
@slider-knob-border-radius: 20px;

// Toolbar  

@toolbar-text-color:  #333333;
@toolbar-background-color:  #F4F4F4;
@toolbar-active-background-color:  #3D72C9;
@toolbar-active-text-color:  white;
@toolbar-border-color:  #888888;
@toolbar-border-radius: 4px;

// Menu

@menu-item-selected-text-color:  white;
@menu-item-selected-background-color:  #3D72C9;

// Picker 

@picker-spinning-wheel-text-color:  #333333; 
@picker-spinning-wheel-background-color:  white;
@picker-highlight-color:  #3D72C9;